// Theme - Gobierno Abierto

$primary: #f38b00;
$secondary: #e65966;
$info: #2c3447;
$success: #13c18a;

$gray-100: #E9EDF3; // aka light

// Add theme color
$primary-transparent: #2c3447d8;

$theme-colors: (
  "primary-transparent": $primary-transparent
);

// Body colors
$body-bg: $gray-100;
$body-color: $info;

// Load Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Font family
$font-family-sans-serif: 'Montserrat', apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Spacing x1.5
$spacer: 1.5rem;

// Enable gradients
$enable-gradients: true;

// weight utisl
.font-weight-medium {
  font-weight: 500 !important;
}


@import "ember-bootstrap/bootstrap";

#main-navbar .nav-link {
  color: $white;
  font-weight: bold;
}

#main-navbar .nav-link.active {
  color: $primary;
}

// Sections

#home-header {
  background-image: url('/img/background-header/home-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

#home-particpa-plan-accion {
  background-image: url('/img/background-header/planes-de-accion.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

#que-es-header {
  background-image: url('/img/background-header/que-es.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.twitter-feed-placeholder {
  height: 35rem;
}
