<BsNavbar id="main-navbar" @backgroundColor="primary-transparent" @type="dark" @position="sticky-top" @fluid={{true}} as |navbar|>
  <div class="container">
    <div class="navbar-header">
    {{navbar.toggle}}

    <LinkTo @route="application" class="navbar-brand">
      <img
        src="logo-brand.png"
        class="img-responsive"
        title="Gobierno Abierto 2020"
        alt="Guatemala"
        height="50px"
      >
    </LinkTo>
  </div>

  <navbar.content>
    <navbar.nav @justified={{false}} type="pills" class="ml-auto" as |nav|>
      <nav.item>
        <nav.link-to @route="index">
          Inicio
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="que-es">
          ¿Qué es Gobierno Abierto?
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="planes-de-accion">
          Planes de Acción
        </nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="encuentro">
          Encuentro
        </nav.link-to>
      </nav.item>
      {{!-- <nav.item>
        <nav.link-to @route="tablero">
          Tablero
        </nav.link-to>
      </nav.item> --}}

      <nav.item class="d-flex">
        <a
          href="https://www.facebook.com/Redciudadanagt/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white my-auto mx-2"
        >
          <FaIcon @icon="facebook-f" @prefix="fab" />
        </a>
        <a
          href="https://twitter.com/RedxGuate"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white my-auto mx-2"
        >
          <FaIcon @icon="twitter" @prefix="fab" />
        </a>
      </nav.item>
    </navbar.nav>
  </navbar.content>
  </div>
</BsNavbar>

<main>
  {{outlet}}
</main>

{{!-- Footer --}}
<footer id="red-footer py-2">
  <div class="container">
    <div class="row">
      {{!-- Red Ciudadana --}}
      <div class="col-12 d-md-none">
        <a href="https://gobiernoabierto.transparencia.gob.gt/" target="_blank" rel="noopener noreferrer">
          <img class="d-md-none w-100" src="img/LogoGAE2020.png" alt="Gobieron de Guatemala">
        </a>
      </div>
      <div class="col-12 col-md-10 d-flex">
        <a href="https://gobiernoabierto.transparencia.gob.gt/" target="_blank" rel="noopener noreferrer">
          <img class="d-none d-md-block" src="img/LogoGAE2020.png" alt="Gobieron de Guatemala" height="120">
        </a>
        <a href="http://redciudadana.org/" target="_blank" rel="noopener noreferrer">
          <img src="mi-guatemala/img/logo-rc-color.png" alt="Red Ciudanana" class="logo-rc m-auto mt-md-2">
        </a>
        <p class="my-auto">Desarrollado por Asociación Civil Red Ciudadana</p>
      </div>
      <div class="col-12 col-md-2 d-flex my-4 cc-icons text-left text-md-right">
        <a href="https://creativecommons.org/licenses/by-sa/3.0/gt/" target="_blank" rel="noopener noreferrer"
          class="ml-0 ml-md-auto">
          <img src="mi-guatemala/img/icon-cc-cc.png" alt="Creative Commons">
          <img src="mi-guatemala/img/icon-cc-by.png" alt="Creative Commons - Atribución">
          <img src="mi-guatemala/img/icon-cc-sa.png" alt="Creative Commons - Compartir Igual">
        </a>
      </div>
    </div>
  </div>
</footer>
