<div id="home-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <h1 class="font-weight-bold mb-3">
          Encuentro: Estado Abierto Guatemala
        </h1>
      </div>
    </div>
  </div>
</div>
{{!-- video --}}
<div class="w-100 bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="font-weight-bold mb-4">
          Encuentro: Estado Abierto Guatemala
        </h1>
        <p class="font-weight-medium text-muted text-justify">
          El Encuentro Estado Abierto Guatemala es un espacio nacional sobre apertura, innovación y tecnologías, pensado para compartir buenas prácticas y diseñar juntos mejores servicios públicos.
          En su primera edición participarán funcionarios públicos de distintos países, provincias y municipios, con estudiantes, periodistas, emprendedores, organizaciones de la sociedad civil y distintas personas con la intención de participar, para intercambiar iniciativas que impulsarán la creación de las políticas públicas del futuro.
        </p>
      </div>
      <div class="col-12 col-md-6 p-5 text-center">
        <iframe title="youtube-video" class="w-100 h-100" src="https://www.youtube-nocookie.com/embed/N5RTzxInjk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{{!-- agenda --}}
<div class="w-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <h1 class="font-weight-bold mb-4">
          Agenda
        </h1>
        <p class="font-weight-medium text-muted text-justify">
          Las agenda tendrá charlas, paneles, conversatorios, talleres de capacitación
          y mesas de trabajo que impulsarán, mediante distintas dinámicas, la circulación
          de experiencias, conocimientos y lecciones aprendidas en materia de transparencia,
          rendición de cuentas, colaboración, participación ciudadana, datos abiertos, innovación,
          nuevas tecnologías y modernización del Estado.
        </p>
      </div>
    </div>
  </div>
</div>
{{!-- registro --}}
<div class="w-100 bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <h1 class="font-weight-bold mb-4">
          Registro
        </h1>
        <a class="btn btn-lg btn-primary text-uppercase" href="https://hopin.to/events/encuentro-estado-abierto-guatemala">
          Ir a registro
        </a>
      </div>
    </div>
  </div>
</div>