{{!-- header --}}
<div id="home-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <h1 class="font-weight-bold mb-3">
          Alianza para el Gobierno Abierto Guatemala
        </h1>
        <p class="h5">
          Su objetivo es promover un modelo de gobernanza más abierta y horizontal que implique <br>
          una nueva lógica de colaboración entre ciudadanos y autoridades públicas.
        </p>
      </div>
    </div>
  </div>
</div>
{{!-- fechas --}}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="font-weight-bold">
        Fechas importantes
      </h1>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white shadow-sm p-3 h-100">
        <h1 class="font-weight-bold">
          31
        </h1>
        <h2 class="h5 font-weight-bold">
          Ago. 2020
        </h2>
        <p class="text-left">
          Cierrre del 4to Plan de Acción
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white shadow-sm p-3 h-100">
        <h1 class="font-weight-bold">
          15
        </h1>
        <h2 class="h5 font-weight-bold">
          Sept. 2020
        </h2>
        <p class="text-left">
          Convocatoria de Curso Gobierno Abierto
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white shadow-sm p-3 h-100">
        <h1 class="font-weight-bold">
          8
        </h1>
        <h2 class="h5 font-weight-bold">
          Oct. 2020
        </h2>
        <p class="text-left">
          Mesa de Alto Nivel
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white shadow-sm p-3 h-100">
        <h1 class="font-weight-bold">
          20
        </h1>
        <h2 class="h5 font-weight-bold">
          Oct. 2020
        </h2>
        <p class="text-left">
          Encuentro de Gobierno Abierto
        </p>
      </div>
    </div>
  </div>
</div>
{{!-- video --}}
<div class="w-100 bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="font-weight-bold mb-4">
          ¿Que es gobierno abierto?
        </h1>
        <p class="font-weight-medium text-muted">
          La Alianza para Gobierno Abierto (AGA), es una iniciativa multilateral
          voluntaria en la que participan más de 70 países, creada el 20 de septiembre
          de 2011 a través de la Declaración sobre Gobierno Abierto, que busca mejora
          el desempeño gubernamental, fomentar la participación efectiva y mejorar
          la capacidad de respuesta de los gobiernos hacia sus ciudadanos, mediante
          la implementación de estrategias en materia de transparencia, acceso a la
          información, participación ciudadana y uso de nuevas tecnologías, que logren
          generar cambios concretos y visibles.
        </p>
      </div>
    </div>
  </div>
</div>
{{!-- call-to-action: participa en el plan de accion --}}
<div id="home-particpa-plan-accion" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <img
          src="/img/icon/call-to-action.png"
          alt="Levantar la mano"
          class="mb-2"
          height="100px"
        >
        <h1 class="display-5 font-weight-bold">
          ¡Participa en el plan de accion!
        </h1>
        <a
          href="https://www.gobiernoabierto.gt/"
          class="btn btn-lg btn-primary rounded-pill text-white font-weight-bold px-3 text-uppercase"
        >
          haz clic aquí
        </a>
      </div>
    </div>
  </div>
</div>
{{!-- newsletter --}}
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <img
        src="/img/icon/envelope.png"
        alt="Correo"
        class="img-fluid"
      >
    </div>
    <div class="col-12 col-md-9 align-self-center text-center text-md-left">
      <h1 class="display-4 font-weight-bold">
        ¿Te gusta lo que hacemos?
      </h1>
      <a href="mailto:gobiernoabierto@redciudadana.org">
        <h2 class="display-5 font-weight-bold text-primary">
          Suscríbete y recibe más noticias
        </h2>
      </a>
    </div>
  </div>
</div>
{{!-- Twitter feed --}}
<div class="w-100 bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="font-weight-bold">
          ¿Qué hay de nuevo en las redes?
        </h1>
      </div>
      <div class="col-12 col-md-6 p-2">
        <div class="w-100">
          <a class="twitter-timeline" data-height="800" href="https://twitter.com/GobAbiertoGT?ref_src=twsrc%5Etfw">Tweets by GobAbiertoGT</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="col-12 col-md-6 p-2">
        <div class="w-100">
          <a class="twitter-timeline" data-height="800" href="https://twitter.com/ComisionGAE?ref_src=twsrc%5Etfw">Tweets by ComisionGAE</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>