{{!-- header --}}
<div id="que-es-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <h1 class="display-4 font-weight-bold mt-auto mb-4">
          Planes de Acción
        </h1>
      </div>
    </div>
  </div>
</div>
{{!-- planes-pasos --}}
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3">
        <h1 class="font-weight-bold">
          I
        </h1>
        <h2 class="h5 font-weight-bold">
          Plan de Acción
        </h2>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3">
        <h1 class="font-weight-bold">
          II
        </h1>
        <h2 class="h5 font-weight-bold">
          Plan de Acción
        </h2>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3">
        <h1 class="font-weight-bold">
          III
        </h1>
        <h2 class="h5 font-weight-bold">
          Plan de Acción
        </h2>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3">
        <h1 class="font-weight-bold">
          IV
        </h1>
        <h2 class="h5 font-weight-bold">
          Plan de Acción
        </h2>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
        </p>
      </div>
    </div>
  </div>
</div>