{{!-- header --}}
<div id="que-es-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <h1 class="display-4 font-weight-bold mt-auto mb-4">
          Planes de Acción
        </h1>
      </div>
    </div>
  </div>
</div>
{{!-- planes-pasos --}}
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3 row m-0">
        <div class="col-12">
          <h1 class="font-weight-bold">
            I
          </h1>
          <h2 class="h5 font-weight-bold">
            Plan de Acción
          </h2>
          <span class="h6 text-muted d-block">
            2012
          </span>
          <a href="https://gobiernoabierto.transparencia.gob.gt/primer-plan-de-gobierno-abierto/" class="text-uppercase font-weight-bold">
            Más información
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3 row m-0">
        <div class="col-12">
          <h1 class="font-weight-bold">
            II
          </h1>
          <h2 class="h5 font-weight-bold">
            Plan de Acción
          </h2>
          <span class="h6 text-muted d-block">
            2014-2016
          </span>
          <a href="https://gobiernoabierto.transparencia.gob.gt/segundo-plan-de-gobierno-abierto/" class="text-uppercase font-weight-bold">
            Más información
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3 row m-0">
        <div class="col-12">
          <h1 class="font-weight-bold">
            III
          </h1>
          <h2 class="h5 font-weight-bold">
            Plan de Acción
          </h2>
          <span class="h6 text-muted d-block">
            2016-2018
          </span>
          <a href="https://gobiernoabierto.transparencia.gob.gt/tercer-plan-de-gobierno-abierto/" class="text-uppercase font-weight-bold">
            Más información
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="bg-white hover:secondary hover:text-white shadow-sm p-3 row m-0">
        <div class="col-12">
          <h1 class="font-weight-bold">
            IV
          </h1>
          <h2 class="h5 font-weight-bold">
            Plan de Acción
          </h2>
          <span class="h6 text-muted d-block">
            2018-2020
          </span>
          <a href="https://gobiernoabierto.transparencia.gob.gt/ " class="text-uppercase font-weight-bold">
            Más información
          </a>
        </div>
      </div>
    </div>
  </div>
</div>