{{!-- header --}}
<div id="que-es-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-center text-white">
        <h1 class="display-4 font-weight-bold mt-auto mb-4">
          ¿Qué es Gobierno Abierto?
        </h1>
        <p class="h5 font-weight-normal">
          <strong class="font-weight-bold">La Alianza para Gobierno Abierto (AGA), es una iniciativa multilateral voluntaria en la que
          participan más de 70 países, creada el 20 de septiembre de 2011 a través de la Declaración sobre Gobierno Abierto,</strong> que busca mejorar el desempeño gubernamental, fomentar la participación
          efectiva y mejorar la capacidad de respuesta de los gobiernos hacia sus ciudadanos, mediante la
          implementación de estrategias en materia de transparencia, acceso a la información, participación
          ciudadana y uso de nuevas tecnologías, que logren generar cambios concretos y visibles.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-8 text-center text-md-left">
        <h1 class="font-weight-bold mb-4">
          ¿Cómo inicia la participación de Guatemala en AGA?
        </h1>
        <p class="h5 font-weight-normal text-muted mb-4">
          <strong class="font-weight-bold">Guatemala se adhiere a la Alianza para el Gobierno
          Abierto -AGA-, Open Government Partnership  -OGP- en inglés, el 27 de julio de 2011,</strong> posteriormente en 2012
          ratificó su adhesión,  habiendo  implementado  a la fecha dos Planes de Acción Nacional de Gobierno Abierto; y creado el presente, que al igual que los anteriores,  abarca un período bianual correspondiente  de 2016 a 2018.
        </p>
      </div>
      <div class="col-12 col-md-4 text-right">
        <img
          src="/img/guatemala-pong.png"
          alt="Mapa Guatemala"
          class="img-fluid mx-auto"
        >
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="font-weight-bold mb-4">
        Foro Multiactor
      </h1>
      <p class="font-weight-medium">
        El Comité Técnico de Gobierno Abierto, es el Foro Multiactor de la Iniciativa de Gobierno Abierto en Guatemala; es deliberante y con funciones directivas de la iniciativa a nivel
        nacional. El Comité Técnico está conformado por:
      </p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-3 text-center">
      <img src="/img/icon/people.png" alt="Icono de personas" class="img-fluid mb-4">
    </div>
    <div class="col-md-8 align-self-center">
      <p class="font-weight-medium my-auto text-center text-md-left">
        <strong class="font-weight-bold">Representantes de hasta 8 instituciones del sector público</strong> entre los
        cuales deben estar las 4 del Acuerdo Gubernativo Número 41-2018,
        3 responsables de compromisos y la GAE. Las 3 instituciones responsables de
        los compromisos que conforman el Comité Técnico serán seleccionadas según
        los mecanismos institucionales que se acuerden dentro del sector.
      </p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-3 text-center">
      <img src="/img/icon/settings.png" alt="Icono de personas" class="img-fluid mb-4">
    </div>
    <div class="col-md-8 align-self-center">
      <p class="font-weight-medium my-auto text-center text-md-left">
        <strong class="font-weight-bold">Representantes de hasta 8 entidades no gubernamentales</strong>
        interesadas en integrar el mismo, según sus mecanismos internos.
      </p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-3 text-center">
      <img src="/img/icon/edificio.png" alt="Icono de personas" class="img-fluid mb-4">
    </div>
    <div class="col-md-8 align-self-center">
      <p class="font-weight-medium my-auto text-center text-md-left">
        <strong class="font-weight-bold">Las instituciones públicas y entidades no gubernamentales</strong>
        representadas en el Comité Técnico deberán integrar este Comité, por lo menos,
        durante las fases de la co-creación de un Plan de Acción Nacional.
      </p>
    </div>
  </div>
</div>