{{!-- header --}}
<div id="tablero-header" class="w-100">
  <div class="container d-flex h-100 py-5">
    <div class="row w-100 m-auto justify-content-center align-self-center">
      <div class="col-12 text-left text-white">
        <h1 class="display-4 font-weight-bold mt-auto mb-4">
          Conoce los avances <br>
          de los comparomisos <br>
          de Gobierno abierto
        </h1>
        <h2 class="display-5 font-weight-medium">
          En este espacio podr치s dar seguimiento y monitorear el avance de los compromisos que Guatemala adopto en su 5to. plan de acci칩n nacional
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-12 shadow-sm bg-white px-3 py-2 d-block d-lg-flex">
      <h1 class="font-weight-bold my-auto text-center text-lg-left">
        5to. Plan de Acci칩n Nacional
      </h1>
      <div class="btn-lg btn-success text-uppercase rounded-pill ml-auto text-center my-2">
        <small class="font-weight-medium">
          Descargar plan de acci칩n
        </small>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-12">
      <h1 class="font-weight-bold">
        Compromisos
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="propuesta-placeholder p-3 shadow-sm bg-primary-transparent text-white d-flex">
        <p class="mt-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="propuesta-placeholder p-3 shadow-sm bg-primary-transparent text-white d-flex">
        <p class="mt-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="propuesta-placeholder p-3 shadow-sm bg-primary-transparent text-white d-flex">
        <p class="mt-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="propuesta-placeholder p-3 shadow-sm bg-primary-transparent text-white d-flex">
        <p class="mt-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>